#container{
	background-color:#f5f5f5;
	padding:20px;
}
#my-id{
	padding:1px;
	background-color:#f5f5f5;
	border:1px;
}
.my-pad{
	border:1px solid;
	margin:8px;
	background-color:white;
	padding:5px;
}
p.my-pond{
	text-align:right;
	font-style:italic;
}

